<div class="dashboard">
  <%= render 'dashboard/nav' %>
  <div id="dash_content">
    <h2 class="center">Live your Dream.</h2>
    
    <h3>Select your interests:</h3>
    
    <h3>What's your Dream?</h3>
      <%= render 'shared/dreams_form' %>
      <table class="dream_list" summary="User Dreams">
        <% unless @user.dreams.empty? %>
          <% @user.dreams.each do |dream| %>
            <li>
              <%= dream.votes.count %>
              <%= link_to up_vote, dreams_vote_up_path(dream), :method => :post %> 
              <%= link_to down_vote, dreams_vote_down_path(dream), :method => :post %>
              <%= dream.content %> 
            </li>
          <% end %>     
        <% end %>
      </table>
      
    <div id="left">
    </div>
    <div id="main">
    
    </div>    
  </div>
</div>



