<div class="sign_in">

  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="text_input"><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div class="text_input"><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div class="text_input"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div id="sign_up_btn">
    <%= f.submit "Sign up", :class => "button"  %></div>
    
        <div><%= f.collection_select :role, User::ROLES, :to_s, :humanize %></div>
  <% end %>

</div>