<!DOCTYPE html>
<html>
  <head>
    <title>LoveALLogy</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'blueprint/ie' %>
    <![endif]-->
  </head>
    <body>
      <div class="wrapper">
        <%= render 'layouts/header' %>
        <% if false %>
        <--<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>-> 
        <% end %>
      
        <%= yield %>
        
        <div class="push"></div>
        
      </div>
      
      <%= render 'layouts/footer' %>
      
    </body>
  </html>
